﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-controller="indexController">
    <div class="row">
        <div class="col-sm-12">
            <input type="button" ng-disabled="isBusy" class="btn btn-primary" value="Click if you love cats" ng-click="getCatImages()" /> 
            <i class="fa fa-spinner fa-spin" ng-show="isBusy" style="font-size:25px; vertical-align:middle;"></i>           
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 margin-bottom-10" data-ng-repeat="card in listCard track by $index">          
            <div class="thecard" style="background-image:url({{card.url}});height: 100px;">              
            </div>
        </div>        
    </div>
    
</div>


@section scripts
{
    <script src="~/Views/Home/Index.js"></script>
}

